*{
  
  padding: 100;
  
}

body{
  height: 135vh;
  background-size: cover;
  background-position:center;

}
input button a{
  float: right;
  
}

 button a {
  text-decoration: none;
  color: black;
 }

span{
    content: "\2135";
  } 
span{
    background-color: rgb(42, 161, 165);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: rgb(37, 70, 114);
  transition: 0.1s;
}
li a{
  float: left;
}
button{
  float: right;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(74, 141, 124);
}

h4{
  text-decoration: solid;
  text-decoration-color: rgb(76, 104, 39);
  text-overflow: inherit;
  text-rendering: optimizeLegibility;
}
 h5{
  font-family: Tahoma;
  display: flow-root;
  text-align: left;
  border-color: rgb(14, 196, 209);
  text-decoration:solid rgb(196, 174, 11)
 }

